#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color:yellow;
  text-align: center;
  padding: 16px;
  text-decoration: underline wavy white;
}

#nav li a:hover {
  background-color: #111111;
}
.mycontainer {
    margin-top: 20px;
}
div.mycontainer .left{
  width:20%;
  height: 100vh;
  overflow:auto;
  float: left;
  padding: 16px;
  box-sizing: border-box;
}
div.mycontainer .right {
  width: 80%; 
  height: 100vh; 
  float:left;
  padding: 16px;
  box-sizing: border-box;
}

img{
  margin: 20px 15% 20px 15%;
  width:50%;
  border-radius:50%;
}

.name{
    text-align: center;
    margin:0;
}

a.active {
  background-color: red;
}